//sass-lint:disable all

@font-face {
  font-family: 'tommorw';
  src: url('./assets/fonts/tommorw.eot');
  src: url('./assets/fonts/tommorw.eot') format('embedded-opentype'),
    url('./assets/fonts/tommorw.ttf') format('truetype'),
    url('./assets/fonts/tommorw.woff') format('woff'),
    url('./assets/fonts/tommorw.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
